:root {
    --color: #ddd;
    --background: #24292e;
}
*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow-x: hidden;
    font-family: monospace;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    padding: 2rem;
    color: var(--color);
    background: var(--background);
}



h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
.slider {
    width: 50vw;
    outline: 4px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0 auto;
    user-select: none;
    margin-bottom: 2rem;
}
.slider .container {

    gap: 1rem;
    height: 15rem;
    align-items: center;
}
.slider .item {
    width: 100%;
    max-width: 100%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: var(--background);
    user-select: none;
    opacity: 0.5;
    transition: all 0.2s ease;
    background: var(--color);
    z-index: -1;
}
.slider .item.visible {
    opacity: 1;
}
.slider .item.active {
    border: 5px solid var(--background);
    outline: 5px solid var(--color)
}
.slider {
    &.slider-auto-height {
        transition: all 0.2s ease;
        .item {
            aspect-ratio: 2;
            height: unset !important;
        }
    }
}
.prev, .next{
    position: absolute;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
    top: calc(100% + 1rem);
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
h2 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: var(--color);
}
code {
}
code span {
    color: coral;
}

.slider-100 {
    .item {
        width: var(--container-width) !important;
        height: var(--container-height) !important;
    }
}
.slider-50 {
    .item {
        width: calc(var(--container-width) / 2) !important;
        height: calc(var(--container-height) / 2) !important;
    }
}