*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow-x: hidden;
    font-family: monospace;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    padding: 2rem;
}



.slider {
    position: relative;
    display: block;
    .container {
        display: flex;
        width: fit-content;
    }
}